<!DOCTYPE HTML>
<html>
<head>
    <title>Hello World</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <p>Welcome to my first Spring app!</p>
    <p>Here are some fun links:</p>
    <ul>
        <li><a href="/capitalize/hello">Capitalize any word or phrase</a></li>
        <li><a href="/albums">Direct link to Songr. Add your favorite albums here!</a></li>
    </ul>
</div>
</body>
</html>