<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Album Page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <a href="/albums">Back to Album Collection</a>
    <h1 th:text="${album.title}">Album title</h1>
    <ul>
    <li th:each="song : ${songs}">
        Track # <span th:text="${song.trackNumber}"></span><br>
        Song Title: <span th:text="${song.trackTitle}"></span><br>
        Song Length(in seconds):<span th:text="${song.lengthInSeconds}"></span>
    </li>
    </ul>
    <h2>Add a new song to the album</h2>

    <form class="form-group" method="POST" action="/albums/addSong">

            <label for="songTitle"> Song Title </label>
            <input type="text" name="trackTitle" id="songTitle"/>

            <label for="trackNumber"> Track Number on Album </label>
            <input type="number" name="trackNumber" id="trackNumber"/>

            <label for="lengthInSeconds"> Song Length</label>
            <input type="number" name="lengthInSeconds" id="lengthInSeconds"/>
        <input type="hidden" name="albumId" th:value="${album.id}">
        <input type="submit"/>
    </form>
</div>
</body>
</html>